---
---

@import "{{ site.theme }}";
// body {
//  font-family: "Iowan Old Style", "Sitka Text", Palatino, "Book Antiqua", serif;
// }
// h3.post-link {
//  margin-bottom: 0px;
// }
div.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

div.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

div.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.boxed {      
    color: black;
    border: 3px solid #535353;        
    padding: 5px 20px;
    border-radius: 10px;
    margin: 7px;
}

.fe {
  background: #e06633;
}
.n{
    background: #3050f8;
}
.h{
    background: #fefefe;
}
