---
---

@import "{{ site.theme }}";
// body {
//  font-family: "Iowan Old Style", "Sitka Text", Palatino, "Book Antiqua", serif;
// }
// h3.post-link {
//  margin-bottom: 0px;
// }
div.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

div.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

div.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .fe { background-color: #e06633; }
.legend .n { background-color: #3050f8; }
.legend .h { background-color: #fefefe; }
